* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid black 2px;
    background-color: wheat;
}

.carrito {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.carritoCard {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid black 2px;
    background-color: chartreuse;
}

